<div class="inner">
    <div class="menu_holder row">
      <div class="col-md-2 col-md-offset-1">
          <div class="menu_caption">Ebookchain</div>
          <ul>
              <li class="m_item"><a href="#" class="gl_link" target="_blank">FAQ</a></li>
              <li class="m_item"><a href="#" class="gl_link" target="_blank">Download</a></li>
              <li class="m_item"><a href="http://book.btcnodejs.com" class="gl_link" target="_blank">eBooks</a></li>
          </ul>
      </div>
      <div class="col-md-3">
          <div class="menu_caption">Resources</div>
          <ul>
              <li class="m_item"><a href="https://explorer.ebookchain.org/"  class="gl_link" target="_blank">Blockchain Explorer</a></li>
              <li class="m_item"><a href="https://faucet.ebookchain.org/" class="gl_link" target="_blank">Faucet</a></li>
              <li class="m_item"><a href="https://github.com/Ebookchain" class="gl_link" target="_blank">GitHub</a></li>
          </ul>
      </div>
      <div class="col-md-3">
          <div class="menu_caption">Get Involved</div>
          <ul>
              <li class="m_item"><a href="https://blog.ebookchain.org/" class="gl_link" target="_blank">Medium</a></li>
              <li class="m_item"><a href="https://forum.ebookchain.org/" class="gl_link" target="_blank">Forum</a></li>
              <li class="m_item"><a href="/contact_us" class="gl_link">Contact Us</a></li>
          </ul>
      </div>
      <div class="col-md-3">
          <div class="menu_caption">Social Media</div>
          <ul>
              <li class="m_item"><a href="https://www.facebook.com/Ebookchain-576963915799853/" class="gl_link" target="_blank">Facebook</a></li>
              <li class="m_item"><a href="https://twitter.com/Ebookchain" class="gl_link" target="_blank">Twitter</a></li>
              <li class="m_item"><a href="https://plus.google.com/communities/102644734314168885122" class="gl_link" target="_blank">Google+</a></li>
          </ul>
      </div>
    </div>
    
    <div class="bottom row">
        <div class="logo_holder"><a href="/" class="logo"><img src="/ebookchain-logo-40x40.png" alt="Lisk"/></a></div>
        <div class="copyright">Copyright © {{year}} Lisk. All rights reserved.</div>
    </div>
</div>
