<div class="inner">
    <div class="menu_holder row">
        <div class="col-xs-12 col-md-3 col-md-offset-2">
            <div class="menu_caption">
                <img src="/icons/github-32x32.png" alt="Ebookchain" />
                <a target="_blank" href="https://github.com/Ebookchain/ebookchain.org" >
                    {{t "footer.ebookcoin"}}
                </a>
                <a target="_blank" href="https://github.com/Ebookcoin/ebookcoin" >
                    {{t "footer.ebookchain"}}
                </a>
            </div>
        </div>

        <div class="col-xs-12 col-md-5">
            <div class="menu_caption">
                {{t "footer.social_media"}}
                <a target="_blank" href="https://www.facebook.com/Ebookchain-576963915799853/" >
                    <img src="/icons/facebook.png" alt="Facebook" />
                </a>
                <a target="_blank" href="https://twitter.com/Ebookchain">
                    <img src="/icons/twitter.png" alt="twitter" />
                </a>
                <a target="_blank" href="https://plus.google.com/communities/102644734314168885122">
                    <img src="/icons/google.png" alt="Google+">
                </a>
                <a target="_blank" href="http://weibo.com/ebookchain">
                    <img src="/icons/weibo.png" alt="weibo">
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 ">
            <span class="menu-text">
                <a target="_blank" title="加入亿书官方QQ群" href="http://shang.qq.com/wpa/qunwpa?idkey=3c8dd274a6366176ccc886e831b3aaeb4d917e48afb0c53a2eafdba500c49933" >
                    <img src="/icons/qq.png" alt="QQ"/>
                </a>
                <span>官方群： 185046161</span>
            </span>
            <span class="menu-text">
                <a target="_blank" title="加入亿书开源社区会员群" href="https://github.com/Ebookcoin/ebookcoin" >
                    <img src="/icons/qq.png" alt="QQ"/>
                </a>
                <span>社区会员群：185046488</span>
            </span>
        </div>
    </div>
    <div class="bottom row">
        <div class="logo_holder">
            <a href="/" class="logo"><img src="icons/ebookchain-logo-40x40.png" alt="Ebookchain" /></a>
        </div>
        <div class="copyright">Copyright © {{year}} Ebookchain. All rights reserved.</div>
    </div>
</div>
