<div class="c-time">
	<span>{{day}}</span>
	<span>{{hour}}</span>
	<span>{{minute}}</span>
	<span>{{second}}</span>
</div>
<div class="c-text">
	<span>天</span>
	<span>时</span>
	<span>分</span>
	<span>秒</span>
</div>

