<select class="form-control" {{action 'setLocale' on='change'}}>
  {{#each locales as |loc|}}
    <option value="{{loc.id}}" selected={{is-equal loc.id i18n.locale}}>
      {{loc.text}}
    </option>
  {{/each}}
</select>
