<div class="banner">
	<div class="icocontainer">
		<div class="circle"></div>
		<div class="content">
			<div class="word"></div>
			<div class="btn"><a href="http://market.ebookchain.org">前往ICO</a></div>
			<div class="detail"><a href="http://www.ebookchain.org/ico.pdf">ICO细则</a></div>
		</div>
		<div class="time"><span class="start">2017.06.30 </span><span class="timeline"></span><span class="over">2017.07.07</span></div>		
	</div>
</div>
