<div class="container">
	<div class="text-center">
		<h1>{{t "home.team.title"}}</h1>
		<p>亿书大门永远为那些技术过硬、责任心强的小伙伴敞开，欢迎您加入！</p>
	</div>
	<div class="video">
		<iframe height=498 width=510 src='http://player.youku.com/embed/XMjc4NTE3NTYwMA==' frameborder=0 allowfullscreen></iframe>	
	</div>
</div>
