
<div class="container">
	<div class="slide slide1">
		<div class="slide-box">1
		</div>
	</div>
	<div class="slide slide2">
		<div class="slide-box">2
		</div></div> 
	<div class="slide slide3">
		<div class="slide-box">3
		</div></div> 
	<div class="slide slide4">
		<div class="slide-box">4
		</div></div>
</div>

 <!-- <div class="container">
	<div class="text-center intro">
	  <div class="carousel">
		  <div class="slide slide1"> 
		    <div class="affa-testimonial">
		      <div class="testimonial-name">
		        <img src="images/avatars/1.jpg" alt="Avatar">
		        <h4>Amah Holland</h4>
		        <p>Social Media Manager of MG</p>
		      </div>
		      <div class="testimonial-txt">
		        <p>"Lorem ipsum dolor consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Enim id minim veniam exercitation laboris consequat. Duis aute dolor reprehende ritin voluptate reprehenderit labore et dolore cillum fugiatos."</p>
		      </div>
		      <div class="testimonial-rate">
		        <span class="testimonial-rate-val" style="width:100%;">5</span>
		      </div>
		    </div>
		  </div>
		  
		  <div class="slide slide2"> 
		    <div class="affa-testimonial">
		      <div class="testimonial-name">
		        <img src="images/avatars/2.jpg" alt="Avatar">
		        <h4>Mugiwara Kiwolen</h4>
		        <p>CEO & Founder of AffaGroup</p>
		      </div>
		      <div class="testimonial-txt">
		        <p>"Lorem "</p>
		      </div>
		      <div class="testimonial-rate">
		        <span class="testimonial-rate-val" style="width:100%;">5</span>
		      </div>
		    </div>
		  </div>
		  
		  <div class="slide slide3"> 
		    <div class="affa-testimonial">
		      <div class="testimonial-name">
		        <img src="images/avatars/3.jpg" alt="Avatar">
		        <h4>Bebbh Cwan</h4>
		        <p>Comunity Manager of Avelie</p>
		      </div>
		      <div class="testimonial-txt">
		        <p>"Lorem ipsum dolor consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Enim id minim veniam exercitation laboris consequat. Duis aute dolor reprehende ritin voluptate reprehenderit labore et dolore cillum fugiatos."</p>
		      </div>
		      <div class="testimonial-rate">
		        <span class="testimonial-rate-val" style="width:100%;">5</span>
		      </div>
		    </div>
		  </div>
		  
		  <div class="slide slide4">
		    <div class="affa-testimonial">
		      <div class="testimonial-name">
		        <img src="images/avatars/4.jpg" alt="Avatar">
		        <h4>Rendy Jagerjack</h4>
		        <p>Marketing Leader of MochiHijab</p>
		      </div>
		      <div class="testimonial-txt">
		        <p>"Lorem ipsum dolor consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Enim id minim veniam exercitation laboris consequat. Duis aute dolor reprehende ritin voluptate reprehenderit labore et dolore cillum fugiatos."</p>
		      </div>
		      <div class="testimonial-rate">
		        <span class="testimonial-rate-val" style="width:100%;">5</span>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
 </div> -->