  <div class="container-fluid">
    <div class="intro">
      <h1>{{t "home.section0.title"}}</h1>
      <p class="desc">{{t "home.section0.desc"}}</p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <img src="images/ebookchain-how-to-work.png" alt="example" class="img-responsive" />
      </div>
    </div>
    <div class="row wow-footer">
       <div class="col-xs-12 col-md-12">
	      <div class="col-xs-12 col-md-4">
	        <img src="images/writer.png" alt="example" class="img-responsive" />
	        <h4>作者</h4>
	        <p>作者写作内容的版权信息将自动写入区块链中，并实现博客、电子书、自出版等功能</p>
	      </div>
	      <div class="col-xs-12 col-md-4">
	        <img src="images/ebookchain-72x72.png" alt="example" class="img-responsive" />
	        <h4>亿书</h4>
	        <p>亿书P2P网络，构建了版权保护协议，提供了代币(EBC)支付、分布式存储等功能</p>
	      </div>
	      <div class="col-xs-12 col-md-4">
	        <img src="images/reader.png" alt="example" class="img-responsive" />
	        <h4>读者</h4>
	        <p>读者可以使用代币(EBC)购买、分享、评论和反馈阅读内容，并从中获得知识，甚至奖励</p>
	      </div>
	  </div>
      <div class="col-xs-12 col-md-12">
        <div class="col-md-4 col-sm-4 col-xs-6 text-center wow animated zoomIn">
          <div class="service-item">
            <div class="service-icon">
              <i class="glyphicon glyphicon-edit"></i>
            </div>
            <h3><b>确权注册</b><br>便利性</h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 text-center wow animated zoomIn">
          <div class="service-item">
            <div class="service-icon">
              <i class="glyphicon glyphicon-edit"></i>
            </div>
            <h3><b>资源获取</b><br>便利性</h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 text-center wow animated zoomIn">
          <div class="service-item">
            <div class="service-icon">
              <i class="glyphicon glyphicon-edit"></i>
            </div>
            <h3><b>协调创作</b><br>便利性</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-12">
        <div class="col-md-4 col-sm-4 col-xs-6 text-center wow animated zoomIn">
          <div class="service-item">
            <div class="service-icon">
              <i class="glyphicon glyphicon-edit"></i>
            </div>
            <h3><b>博客管理</b><br>便利性</h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 text-center wow animated zoomIn">
          <div class="service-item">
            <div class="service-icon">
              <i class="glyphicon glyphicon-edit"></i>
            </div>
            <h3><b>出版发行</b><br>便利性</h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 text-center wow animated zoomIn">
          <div class="service-item">
            <div class="service-icon">
              <i class="glyphicon glyphicon-edit"></i>
            </div>
            <h3><b>调查取证</b><br>便利性</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
