<!-- #features -->
<div id="features" class="section-wrap padding-top100">
	<!-- .container-wrap -->
	<div class="container-wrap container-padding100">
		
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-5 col-txt text-center-sm text-center-xs margin-bottom40-sm margin-bottom40-xs">
					<div class="post-heading-left">
						<h2><strong>Auto Sync</strong> with All device<br>of you</h2>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Duis aute irure dolor in reprehenderit.</p>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					
					<div class="header-txt">
						<h1>Meet Bestapp<br>The new world for chat</h1>
						<p>According to the needs and habits we make Bestapp. Applications used to handle your chat with family, friends and community. That we made with the latest technology and love!</p>
					</div>
					<div class="header-btn">
						<a href="#" class="btn-custom">Learn More</a>
						<a href="#download" class="btn-custom btn-border btn-icon smooth-scroll"><i class="ion ion-ios-cloud-download-outline"></i> Download App</a>
					</div>				
				</div>
			</div>
		</div>
		
		<div class="col-pull-right">
			<figure class="img-layers3 img-pull-left">
				<div class="img-layer-lg">
					<img src="images/content/landing/feature-1.png" alt="Image Large" class="animation" data-animation="animation-fade-in-right">
				</div>
				<div class="img-layer-md">
					<img src="images/content/landing/feature-2.png" alt="Image Mediun" class="animation" data-animation="animation-fade-in-left" data-delay="300">
				</div>
				<div class="img-layer-sm">
					<img src="images/content/landing/feature-3.png" alt="Image Small" class="animation" data-animation="animation-fade-in-down" data-delay="600">
				</div>
			</figure>
		</div>
		
	</div>
	<!-- .container-wrap end -->

</div>
<!-- #features end -->
