<!-- <div id="particles"></div> -->
<div id="particles-js"></div>
<div class="bookstore">
	<nav class="shelf">
	  <a href="/ebookchain.pdf" target="_blank" class="book home-page">{{t "header.nav.whitepaper"}}</a>
	  <a  href="/greenpaper-pre.pdf" target="_blank" class="book about-us">{{t "header.nav.greenpaper"}}</a>
	  <!-- a href="/bp.pdf"  target="_blank" class="book contact">商业模式</a -->
	  <a  href="http://chainclub.org/topic/17/faq-%E7%83%AD%E7%82%B9%E9%97%AE%E9%A2%98" target="_blank" class="book faq">F.A.Q.</a>
	  <span class="book not-found"></span>
	  <span class="door left"></span>
	  <span class="door right"></span>
	</nav>
	<div class="vivus">{{ebc-vivus}}</div>
</div>
