    <div class="row animate-box fadeIn">
      <div class="text-center intro">
        <h1>亿书，让每一次创作都有迹可循</h1>
        <p class="desc">亿书实现版权保护的三个层次</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center fadeInDown">
        <div class="services">
          <span class="icon">
            <i class="icon-write"></i>
          </span>
          <div class="desc">
            <h3>记录创作时间段</h3>
            <p>通过亿书客户端，记录内容创作时的全部过程，由单一时间戳汇成时间段</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center fadeInDown">
        <div class="services">
          <span class="icon">
            <i class="icon-follow"></i>
          </span>
          <div class="desc">
            <h3>追踪流通全环节</h3>
            <p>流通过程中的取证是版权保护的重要环节，亿书会在文档分享、交易等过程中，记录下全部痕迹，并可轻松追溯它的全过程，直至源头.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center fadeInDown">
        <div class="services">
          <span class="icon">
            <i class="icon-social"></i>
          </span>
          <div class="desc">
            <h3>社区共识人员参与</h3>
            <p>亿书基于智能合约，优化奖惩规则，通过代币，鼓励人们举报和反馈，让授权成为人们自觉行为，让盗版无所遁形.</p>
          </div>
        </div>
      </div>
    </div>