<div class="banner">
	<div class="content">
		<div class="text0">24小时内</div>
		<div class="text1">2000</div>
		<div class="text2">人参与</div>
		<div class="imgContainer">
			<img src="/images/ico.png" alt="ico" width="80%" height="80%" />
		</div>
		<div class="text3">ICO已于北京时间2017-7-1 21:00:00 结束</div>
	</div>
</div>

<!-- <div class="banner">
	<div class="icocontainer">
		<div class="circle"></div>
		<div class="content">
			<div class="word"></div>
			<div class="btn"><a href="http://market.ebookchain.org">前往ICO</a></div>
			<div class="detail"><a href="http://www.ebookchain.org/ico.pdf">ICO细则</a></div>
		</div>
		<div class="time"><span class="start">2017.06.30 </span><span class="timeline"></span><span class="over">2017.07.07</span></div>		
	</div>
</div> -->
