<div id="particles"></div>
<div class="bookstore">
	<nav class="shelf">
	  <a href="/ebookchain.pdf" target="_blank" class="book home-page">白皮书</a>
	  <a  href="/greenpaper-pre.pdf" target="_blank" class="book about-us">绿皮书</a>
	  <a href="/bp.pdf"  target="_blank" class="book contact">商业模式</a>
	  <a  href="/faq.pdf" target="_blank" class="book faq">F.A.Q.</a>
	  <span class="book not-found"></span>
	  <span class="door left"></span>
	  <span class="door right"></span>
	</nav>
	<div class="vivus">{{ebc-vivus}}</div>
</div>