  <div class="container">
    <div class="intro">
      <h1>{{t "home.section0.title"}}</h1>
      <p class="desc">{{t "home.section0.desc"}}</p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 intro">
        <img src="images/ebookchain-how-to-work.png" alt="example" class="img-responsive" />
      </div>
      <div class="col-xs-12 col-md-6 intro">
        <div class="col-md-6 col-sm-6 col-xs-6 text-center wow animated zoomIn">
          <div class="service-item">
            <div class="service-icon">
              <i class="glyphicon glyphicon-edit"></i>
            </div>
            <h3><b>确权注册</b><br>便利性</h3>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-center wow animated zoomIn">
          <div class="service-item">
            <div class="service-icon">
              <i class="glyphicon glyphicon-edit"></i>
            </div>
            <h3><b>资源获取</b><br>便利性</h3>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-center wow animated zoomIn">
          <div class="service-item">
            <div class="service-icon">
              <i class="glyphicon glyphicon-edit"></i>
            </div>
            <h3><b>协调创作</b><br>便利性</h3>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-center wow animated zoomIn">
          <div class="service-item">
            <div class="service-icon">
              <i class="glyphicon glyphicon-edit"></i>
            </div>
            <h3><b>博客管理</b><br>便利性</h3>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-center wow animated zoomIn">
          <div class="service-item">
            <div class="service-icon">
              <i class="glyphicon glyphicon-edit"></i>
            </div>
            <h3><b>出版发行</b><br>便利性</h3>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-center wow animated zoomIn">
          <div class="service-item">
            <div class="service-icon">
              <i class="glyphicon glyphicon-edit"></i>
            </div>
            <h3><b>调查取证</b><br>便利性</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
