.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  text-align: left;
  min-height: 200px;
  color: #546e7a;
  background: #293c55;
  .documents_mode & {
    min-height: 100px;
  }
}

.menu_holder {
  position: relative;
  z-index: 2;
}

.menu_caption {
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  display: block;
  padding: 10px 0;
  font-size: 1.5rem;
}

.m_item {
  margin-bottom: 17px;
  .gl_link {
    font-family: RobotoCondensedRegular, sans-serif;
    color: #dcd6cf;
    &:hover {
      color: #f57c00;
    }
  }
}

.bottom {
  height: 80px;
  background: #f6f6f6;
  text-align: center;
  .copyright {
    color: #aaaaaa;
  }
}