@fullpage-font-color: white;
@color0: #333333; // Appears 2 times
@height: 80px;
h1 {
    font-size: 4em;
}

p {
    font-size: 2em;
}

.loading {
    margin: 20px auto;
    min-height: 200px;
    font-size: 2em;
}

.intro p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}

.navbar-brand {
    padding: 5px;
}

.navbar-nav {
    li.signin a {
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        @media (max-width: 480px) {
            width: 30%;
            margin-left: 6px;
        }
    }
    @media (max-width: 480px) {
        .form-control {
            width: 30%;
            margin-left: 6px;
        }
    }
}

.fullpage-wrapper {
    @media (max-width: 480px) {
        p.desc {
            display: none;
        }
        h1 {
            margin-bottom: 40px;
        }
    }
}

.section {
    text-align: center;
    img,
    object {
        margin: auto;
    }
}

#section0 {
    background-color: #4f7f9b;
    background-image: url(/images/spacex.jpg);
    // background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4f7f9b), to(#293c55));
    // background-image: -webkit-linear-gradient(top, #4f7f9b, #293c55);
    // background-image: -webkit-gradient(linear, left top, left bottom, from(#4f7f9b), to(#293c55));
    // background-image: linear-gradient(to bottom, #4f7f9b, #293c55);
    background-repeat: repeat-x;
    background-position:center;
    color: @fullpage-font-color;
    p {
        color: @fullpage-font-color;
        margin-top: 40px;
    }
    .shadow {
        width: 78%;
        margin: 20px auto 30px;
    }
    .watching {
        position: absolute;
        bottom: 0;
        width: 100%;
        min-height: 30px;
        padding: 20px;
        text-align: center;
        background-color: rgba(142, 152, 160, .4);
        .number {
            display: inline-block;
            min-width: 25%;
            max-width: 30%;
            height: 100%;
            color: #fff;
            span {
                font-size: 4em;
                font-weight: 100;
                @media (max-width: 480px) {
                    font-size: 1em;
                }
            }
            &:nth-child(2) {
                border-style: none solid;
                border-width: 1px;
                border-color: rgba(255, 255, 255, .3);
            }
        }
    }
}

#section1 {
    h1 {
        color: @fullpage-font-color;
        @media (max-width: 480px) {
            font-size: 2em;
        }
    }
    p {
        color: @fullpage-font-color;
        margin-top: 40px;
        @media (max-width: 480px) {
            margin-top: 18px;
        }
    }
    img {
        max-height: 400px;
    }
}

#section2 {
    img {
        max-height: 400px;
    }
    .icon {
        font-size: 8em;
        line-height: 100px;
        margin: 10px 0;
        color: #333;
        font-style: normal;
        -webkit-transition: font-size .25s ease-out 0s;
        -moz-transition: font-size .25s ease-out 0s;
        transition: font-size .25s ease-out 0s;
        @media (max-width: 480px) {
            font-size: 4em;
            line-height: 10px;
            margin-top: 16px;
        }
    }
}

#opensource {
    h1 {
        @media (max-width: 480px) {
            font-size: 2em;
            line-height: 20px;
        }
    }
    p.desc {
        margin: 40px auto;
        @media (max-width: 480px) {
            margin: 10px auto;
        }
    }
    .build-with-box {
        text-align: left;
        img {
            width: 100%;
            padding-bottom: 17px;
            margin-left: -6px;
        }
        p {
            text-align: left;
            font-size: 1.7rem;
            padding: 2.4rem 0;
            position: relative;
            color: #5B5B5B;
            @media (max-width: 480px) {
                font-size: 1em;
                padding: 0;
            }
        }
        a {
            text-decoration: underline;
            font-size: 1.7rem;
            font-weight: normal;
            color: #57A3E8;
            @media (max-width: 480px) {
                font-size: 1em;
            }
        }
    }
}

/*team section */
#team {
    background-color: #023d4b;
    color: @fullpage-font-color;
    .team-container{
        width: 75%;
        margin: 0 auto;
    }    
    h1 {
        @media (max-width: 480px) {
            font-size: 2em;
        }
    }
    .team-box{
        display: inline-block;
        font: left;
        width: 18%;
        padding:20px 30px;
        margin:0 5px;
        a{
            text-decoration: none;
            color: @fullpage-font-color;
            &:hover{
                color:#e34e24;
            }
        }
        @media (max-width: 992px) {
            width: 40%;
        } 
        @media (max-width: 768px) {
            width: 60%;
        }        
    }
    .img-box{
        padding: 5%;
        border-radius: 100%;
        background-color: #ccc;
    }
    img{
        width: 100%;
        height: auto;
        border-radius: 100%;
        border:2px solid #333;
    }
}

#partner {
    .row{
            margin-left:0px;
            margin-right:0px;
        }
    p {
        margin: 40px auto;
        @media (max-width: 480px) {
            margin: 15px auto;
        }
    }
    img {
        max-width: 200px;
        @media (max-width: 480px) {
            max-width: 100px;
        }
    }
    .partners {
        margin-bottom: 200px;
    }
    .prcode {
        img {
            max-width: 100px;
            @media (max-width: 480px) {
                max-width: 60px;
            }
        }
    }
}