<!-- #download -->
<div id="download" class="download-wrap">
	<!-- .container-wrap -->
	<div class="container-wrap container-padding100">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-5 col-txt text-center-sm text-center-xs margin-bottom40-sm margin-bottom40-xs">
					<div class="header-txt">
						<h1>亿书客户端</h1>
						<p>亿书，是一个基于分布式加密货币的去中心化应用软件，可以作为写作工具，博客软件或自出版平台，为用户提供写作，出版，出售，版权认证与保护全过程一键解决方案，简化了知识聚合与分享的难度和技术门槛，是数字出版领域的颠覆性创新应用，是区块链技术走入寻常百姓的先行者。</p>
						<p>版本: Ebooker_Beta_v0.1.0</p>
						<p>支持系统: Windows_32/64 / Linux / Mac os</p>				
					</div>
			        <div class="row" style="margin:30px 0;color: #FFF">
			        	<div class="icon-btn col-md-3 col-sm-3 col-xs-3">    
				            <a target="_BLANK" href="http://www.baidu.com">
				               <img alt="downloads" width="60px" height="60px" src="images/buttonwindows.png">
				            </a>
				            <div>Win 32-bit</div>
				        </div>
			        	<div class="icon-btn col-md-3 col-sm-3 col-xs-3">     
				            <a target="_BLANK" class="icon-btn" href="http://www.baidu.com">
				               <img alt="downloads" width="60px" height="60px" src="images/buttonwindows.png">
				            </a>
				            <div>Win 64-bit</div>
				        </div>
			        	<div class="icon-btn col-md-3 col-sm-3 col-xs-3">    
				            <a target="_BLANK" href="http://www.baidu.com">
				               <img alt="downloads" width="60px" height="60px" src="images/buttonlinux.png">
				            </a>
				            <div>Linux 64-bit</div>
				        </div>
			        	<div class="icon-btn col-md-3 col-sm-3 col-xs-3">   
				            <a target="_BLANK" href="http://www.baidu.com">
				               <img alt="downloads" width="60px" height="60px" src="images/buttonmac.png">
				            </a>
				            <div>Mac 64-bit</div>
				        </div>				        				              
			        </div>
					<div >
						<a href="/ebook_help.pdf" style="color:#FFF">
							>> 亿书客户端使用帮助
						</a>
					</div>			        							
				</div>
			</div>
		</div>
		<div class="col-pull-right">
			<figure class="img-layers">
				<div class="img-layer-lg">
					<img src="images/desktop.png" alt="Image Large" class="animation" data-animation="animation-fade-in-right">
				</div>
			</figure>
		</div>
	</div>
	<div class="header-bg" style="background-image:url(images/bg_1.jpg);">
		<div class="header-bg-overlay"></div>
	</div>
	<!-- .container-wrap end -->

</div>
<!-- #download end -->
