<!-- <div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="loading">{{t "site.loading"}}</div>
        </div>
    </div>
</div> -->
<div class="loading-container">
	<div class="mvTxt">Loading<span class="mvSq">.</span><span class="mvSq">.</span><span class="mvSq">.</span></div>
	<div class="mvBox">
	 <img class="mvBtn" src="/images/test1.jpg" />
	</div>
</div>